@model KinoIS.Domain.Models.ShoppingCart

@{
    ViewData["Title"] = "Details";
}

<h1>SHOPPING CART</h1>

<div>
    <hr />
    <dl class="row" style="border: dashed red 1px;">
        <dt class = "col-1">
            <h3>@Html.DisplayNameFor(model => model.Owner): </h3>
        </dt>
        <dd class = "col-11">
            <h3> <b>@Html.DisplayFor(model => model.Owner.Name) @Html.DisplayFor(model => model.Owner.Surname)</b></h3> 
        </dd>
    </dl>
</div>

<h1>Tickets</h1>
<ul>
    @foreach(var item in ViewBag.tickets)
    {
        <li>Movie: @item.Movie, Quantity: @item.Quantity, Genre: @item.Genre</li>
    }
</ul>



<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
